<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.alaska.gmc_handheld_v2_simpleJSON">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Configuration"></activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".Audit" />
        <activity android:name=".AddInventory" />
        <activity android:name=".Recode" />
        <activity android:name=".Move" />
        <activity android:name=".Summary" />

        <activity
            android:name=".Help"
            android:parentActivityName=".Lookup" />
        <activity android:name=".AddContainer" />

        <activity
            android:name=".LookupDisplay"
            android:parentActivityName=".Lookup"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <activity
            android:name=".Lookup"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>