<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.alaska.gmc_handheld_v2_simpleJSON">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SummaryDisplay"
            android:parentActivityName=".Summary"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <activity android:name=".Configuration"
            android:label="Configuration"/>

        <activity android:name=".BaseActivity" />

        <activity android:name=".Audit"
            android:label="Audit"/>

        <activity android:name=".AddInventory"
            android:label="Add Inventory"/>

        <activity android:name=".Recode"
            android:label="Recode"/>

        <activity android:name=".Move"
            android:label="Move"/>

        <activity android:name=".Summary"
            android:label="Summary"/>

        <activity android:name=".Help"
            android:label="Help"/>

        <activity android:name=".AddContainer"
            android:label="Add Container"/>

        <activity
            android:name=".LookupDisplay"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <activity android:name=".MainActivity"
            android:label="Lookup"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>